HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.DS_Store
/logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
rebel.xml
.rebel.xml.bak
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
logs/
*.DS_Store
*.DS_StoreTradeFullinfoGetResponse
.flattened-pom.xml
/autoconf/
git


/.mvn/
/temp
~/Downloads/*
